* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  background-color: #7159c1;
  font-family: Roboto, Arial, sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  margin: 20px 0;
  color: white;
}

form {
  margin: 20px 0;
  background-color: white;
  padding: 30px 25px;
  border-radius: 5px;

  display: block;
  font-size: 14px;
  color: darkslateblue;
  outline-color: #7159c1;

  overflow: hidden;

}

a:link, a:visited {
	text-decoration: none
	}
a:active {
	text-decoration: none
	}

form .input-block {
  margin-bottom: 20px;
}

form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: #7159c1;
  border-radius: 2px;
  border: 1px solid #ccddef;
  outline-color: #7159c1;
}

form .remember {
  margin-bottom: 12px;
}

form .btn-login {
  display: block;
  min-width: 180px;
  border: none;
  background-color: #7159c1;
  color: white;
  border-radius: 25px;
  margin: auto;
  padding: 8px;
}

form .p-block {
  margin-top: 30px;
}

form .p-block p {
  padding: 3px;
}

form > span {
  float: right;
  font-size: 11.5px;
  margin-top: 50px;
}

form .dialog {
  width: 240px;
  text-align: justify;
  margin-bottom: 40px;
  color: #626d79;

  animation: move 500ms;
}

/* Animation Section */

/* Form Appearance */

form {
  animation: appearance 0.4s;
}

@keyframes appearance {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* input move */

form .input-block:nth-child(1) {
  animation: move 500ms;
}

form .input-block:nth-child(2) {
  animation: move 500ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}

form .input-block:nth-child(3) {
  animation: move 500ms;
  animation-delay: 250ms;
  animation-fill-mode: backwards;
}

form .input-block:nth-child(4) {
  animation: move 500ms;
  animation-delay: 300ms;
  animation-fill-mode: backwards;
}

form .remember {
  animation: move 500ms;
  animation-delay: 350ms;
  animation-fill-mode: backwards;
}

form .btn-login {
  animation: move 500ms;
  animation-delay: 300ms;
  animation-fill-mode: backwards;
}

form .p-block {
  animation: move 500ms;
  animation-delay: 350ms;
  animation-fill-mode: backwards;
}

form > span {
  animation: move 500ms;
  animation-delay: 400ms;
  animation-fill-mode: backwards;
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateX(-30%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

